.app.overworld-manager.actor.sheet {
  min-width: 500px;
  width: min-content;
  height: min-content;
}
.app.overworld-manager.actor.sheet .window-content {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.app.overworld-manager.actor.sheet form {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}
.app.overworld-manager.actor.sheet form .spacer {
  flex: 1;
}
.app.overworld-manager.actor.sheet form label {
  display: flex;
  gap: 0.2em;
  align-items: center;
}
.app.overworld-manager.actor.sheet form label.selection {
  border: 1px solid #ab9e8f;
  padding: 0.2em 0.3em;
  border-radius: 0.5em;
}
.app.overworld-manager.actor.sheet form label.selection span {
  white-space: nowrap;
}
.app.overworld-manager.actor.sheet form button {
  flex: 0;
  padding: 0 1.5em;
  border-radius: 0.5em;
  line-height: 1.5;
}
.app.overworld-manager.actor.sheet form input {
  border-radius: 0.5em;
}
.app.overworld-manager.actor.sheet form input[type="checkbox"] {
  flex: 0 16px;
  width: 16px;
  height: 16px;
  margin: 0;
}
.app.overworld-manager.actor.sheet form input[type="number"] {
  font-weight: bold;
  height: unset;
  line-height: 1.3;
  text-align: center;
}
.app.overworld-manager.actor.sheet form h2,
.app.overworld-manager.actor.sheet form h3,
.app.overworld-manager.actor.sheet form h4 {
  margin: 0;
  padding: 0;
}
.app.overworld-manager.actor.sheet form h3 {
  font-weight: bold;
}
.app.overworld-manager.actor.sheet form .selection:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.app.overworld-manager.actor.sheet form .selection:hover input[type='number'],
.app.overworld-manager.actor.sheet form .selection:hover input[type='text'] {
  background-color: rgba(220, 210, 190, 0.7);
}
.app.overworld-manager.actor.sheet form > .name {
  display: flex;
  gap: 0.5em;
}
.app.overworld-manager.actor.sheet form > .name input {
  text-shadow: 0 0 3px goldenrod;
  border: unset;
  background-color: unset;
}
.app.overworld-manager.actor.sheet form > .name input:focus {
  background-color: rgba(0, 0, 0, 0.05);
}
.app.overworld-manager.actor.sheet form .action-economy {
  display: flex;
  gap: 0.5em;
}
.app.overworld-manager.actor.sheet form .status {
  display: flex;
  gap: 0.5em;
}
.app.overworld-manager.actor.sheet form .actions {
  display: flex;
  gap: 0.5em;
  text-align: center;
}
.app.overworld-manager.actor.sheet form .actions .action {
  display: flex;
  gap: 0.2em;
  border: 1px solid #ab9e8f;
  padding: 0.2em 0.3em;
  flex-direction: column;
  border-radius: 0.5em;
  place-items: center;
  justify-content: center;
  padding: 0.2em;
}
.app.overworld-manager.actor.sheet form .actions .action .rollable {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfb54a;
  width: 100%;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.1);
}
.app.overworld-manager.actor.sheet form .actions .action .rollable h2 {
  border: unset;
}
.app.overworld-manager.actor.sheet form .actions .action .rollable:hover {
  box-shadow: 0 0 15px red;
  background-color: gold;
}
.app.overworld-manager.actor.sheet form textarea {
  height: 6em;
}
.app.overworld-manager.actor.sheet.agent form > .details {
  display: flex;
  gap: 0.5em;
}
.app.overworld-manager.actor.sheet.monster form .activatable {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
}
.app.overworld-manager.actor.sheet.squad form > .details {
  display: flex;
  gap: 0.5em;
}
.app.form.overworld-manager.actor-overview {
  width: min-content;
  height: min-content;
}
.app.form.overworld-manager.actor-overview form {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.app.form.overworld-manager.actor-overview form input[type='checkbox'] {
  width: 16px;
  height: 16px;
  flex: 0 16px;
  margin: 0;
  padding: 0;
}
.app.form.overworld-manager.actor-overview form h2,
.app.form.overworld-manager.actor-overview form h3 {
  margin: 0;
  padding: 0;
  grid-column: span 4;
}
.app.form.overworld-manager.actor-overview form .actor-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-template-rows: min-content;
  gap: 3px;
  align-items: center;
}
.app.form.overworld-manager.actor-overview form .actor-list li {
  display: contents;
}
.app.form.overworld-manager.actor-overview form .actor-list li:nth-child(2n+1) > img,
.app.form.overworld-manager.actor-overview form .actor-list li:nth-child(2n+1) > span {
  background-color: rgba(0, 0, 0, 0.05);
}
.app.form.overworld-manager.actor-overview form .actor-list li > span {
  height: 100%;
}
.app.form.overworld-manager.actor-overview form .actor-list li > img,
.app.form.overworld-manager.actor-overview form .actor-list li > span {
  align-items: center;
}
.app.form.overworld-manager.actor-overview form .actor-list li[data-uuid]:hover > img,
.app.form.overworld-manager.actor-overview form .actor-list li[data-uuid]:hover > span {
  background-color: gold;
  box-shadow: 0 0 5px gold;
}
.app.form.overworld-manager.actor-overview form .actor-list li.header > img,
.app.form.overworld-manager.actor-overview form .actor-list li.header > span {
  background-color: rgba(0, 0, 0, 0.1);
  height: 24px;
  font-weight: bold;
  line-height: 24px;
}
.app.form.overworld-manager.actor-overview form .actor-list li.header .icon {
  border: 1px solid transparent;
}
.app.form.overworld-manager.actor-overview form .actor-list li .name,
.app.form.overworld-manager.actor-overview form .actor-list li .actions,
.app.form.overworld-manager.actor-overview form .actor-list li .controls {
  padding: 0.1em 0.3em;
}
.app.form.overworld-manager.actor-overview form .actor-list li .icon {
  background-color: unset;
  width: 24px;
  height: 24px;
}
.app.form.overworld-manager.actor-overview form .actor-list li .name {
  white-space: nowrap;
}
.app.form.overworld-manager.actor-overview form .actor-list li .actions {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.app.form.overworld-manager.actor-overview form > .buttons.actions {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
/*# sourceMappingURL=overworld-manager.css.map */