<form autocomplete='off'>
	<h2>Actors</h2>
		<ul class='actor-list'>
			<li class='header'>
				<span class='icon'></span>
				<span class='name'>Name</span>
				<span class='actions'>Actions</span>
				<span class='controls'></span>
			</li>
			{{#each actors}}
			{{#if list.length}}
				<h3>{{label}}</h3>
				{{#each list}}
				<li data-actor-id='{{actor.id}}' data-uuid='{{uuid}}'>
					<img class='icon' src='{{actor.data.token.img}}'>
					<span class='name'>{{#if actor.token}}{{actor.token.name}}{{else}}{{actor.name}}{{/if}}</span>
					<span class='actions'>
						{{#if isMonster}}
						<input type='checkbox' {{checked actions.attack}} readonly disabled>
						<input type='checkbox' {{checked actions.move}} readonly disabled>
						{{else}}
						<input type='checkbox' {{checked actions.act1}} readonly disabled>
						<input type='checkbox' {{checked actions.act2}} readonly disabled>
						<input type='checkbox' {{checked actions.act3}} readonly disabled>
						<input type='checkbox' {{checked actions.camp}} readonly disabled>
						{{/if}}
					</span>
					<span class='controls'>
						{{#if @root.isEditable}}
						<span class='control-icon delete'><i class="fas fa-trash-alt"></i></span>
						{{/if}}
					</span>
				</li>
				{{/each}}
			{{/if}}
			{{/each}}
		</ul>
	</div>
	{{#if isEditable}}
	<h2>Actions</h2>
	<div class='buttons actions'>
		<button class='reset-all'>Reset All</button>
		<button class='add-unlinked'>Add Unlinked</button>
	</div>
	{{/if}}
</form>
