<form autocomplete='off'>
	<h2 class='name'>
		<span>Agent</span>
		<input type='text' data-dtype='String' name='name' value='{{actor.name}}' placeholder='Unnamed' required>
		<input type='hidden' data-dtype='String' name='data.overworld.type' value='agent'>
	</h2>

	<h2>Status</h2>

	<div class='status'>
		<label class='weakened selection'>
			<input type='checkbox' data-dtype='Boolean' name='data.overworld.weakened' {{checked data.weakened}} {{#if data.critical}}readonly disabled{{/if}}>
			<span>Weakened</span>
		</label>
		<label class='critical selection'>
			<input type='checkbox' data-dtype='Boolean' name='data.overworld.critical' {{checked data.critical}}>
			<span>Critical</span>
		</label>
		<span class='spacer'></span>
		<button class='heal'>
			Heal
		</button>
	</div>

	<h2>Actions</h2>

	<div class='action-economy'>
		<label class='selection'>
			<input type='checkbox' data-dtype='Boolean' name='data.overworld.actions.act1' {{checked actions.act1}} {{#if actions.camp}}readonly disabled{{/if}}>
			<span>Act 1</span>
		</label>
		<label class='selection'>
			<input type='checkbox' data-dtype='Boolean' name='data.overworld.actions.act2' {{checked actions.act2}} {{#if actions.camp}}readonly disabled{{/if}}>
			<span>Act 2</span>
		</label>
		<label class='selection'>
			<input type='checkbox' data-dtype='Boolean' name='data.overworld.actions.act3' {{checked actions.act3}} {{#if actions.camp}}readonly disabled{{/if}}>
			<span>Act 3</span>
		</label>
		<label class='selection'>
			<input type='checkbox' data-dtype='Boolean' class='camp' name='data.overworld.actions.camp' {{checked actions.camp}} {{#unless campReady}}readonly disabled{{/unless}}>
			<span>Camp</span>
		</label>

		<span class='spacer'></span>

		<button class='reset'>Reset</button>
	</div>

	<h2>Details</h2>

	<div class='actions'>
		<div class='action selection'>
			<div class='rollable' data-skill='find'>
				<h3>Find</h3>
				<h2 class='total'>{{skills.find.total}}</h2>
			</div>
			<h4>Base</h4>
			<input type='number' data-dtype='Number' name='data.overworld.skills.find.base' value='{{skills.find.base}}' placeholder='0'>
			<h4>Equipment</h4>
			<input type='number' data-dtype='Number' name='data.overworld.skills.find.eq' value='{{skills.find.eq}}' placeholder='0'>
			<h4>Research</h4>
			<input type='number' data-dtype='Number' name='data.overworld.skills.find.res' value='{{skills.find.res}}' placeholder='0'>
			<h4>Trinkets</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.find.trk' value='{{skills.find.trk}}' placeholder='0'>
		</div>

		<div class='action selection'>
			<div class='rollable' data-skill='fight'>
				<h3>Fight</h3>
				<h2 class='total'>{{skills.fight.total}}</h2>
			</div>
			<h4>Base</h4>
			<input type='number' data-dtype='Number' name='data.overworld.skills.fight.base' value='{{skills.fight.base}}' placeholder='0'>
			<h4>Equipment</h4>
			<input type='number' data-dtype='Number' name='data.overworld.skills.fight.eq' value='{{skills.fight.eq}}' placeholder='0'>
			<h4>Research</h4>
			<input type='number' data-dtype='Number' name='data.overworld.skills.fight.res' value='{{skills.fight.res}}' placeholder='0'>
			<h4>Trinkets</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.fight.trk' value='{{skills.fight.trk}}' placeholder='0'>
		</div>

		<div class='action selection'>
			<div class='rollable' data-skill='talk'>
				<h3>Talk</h3>
				<h2 class='total'>{{skills.talk.total}}</h2>
			</div>
			<h4>Base</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.talk.base' value='{{skills.talk.base}}' placeholder='0'>
			<h4>Equipment</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.talk.eq' value='{{skills.talk.eq}}' placeholder='0'>
			<h4>Research</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.talk.res' value='{{skills.talk.res}}' placeholder='0'>
			<h4>Trinkets</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.talk.trk' value='{{skills.talk.trk}}' placeholder='0'>
		</div>

		<div class='action selection'>
			<div class='rollable' data-skill='cast'>
				<h3>Cast</h3>
				<h2 class='total'>{{skills.cast.total}}</h2>
			</div>
			<h4>Base</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.cast.base' value='{{skills.cast.base}}' placeholder='0'>
			<h4>Equipment</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.cast.eq' value='{{skills.cast.eq}}' placeholder='0'>
			<h4>Research</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.cast.res' value='{{skills.cast.res}}' placeholder='0'>
			<h4>Trinkets</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.cast.trk' value='{{skills.cast.trk}}' placeholder='0'>
		</div>

		<div class='action selection'>
			<div class='rollable' data-skill='move'>
				<h3>Move</h3>
				<h2 class='total'>{{skills.move.total}}</h2>
			</div>
			<h4>Base</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.move.base' value='{{skills.move.base}}' placeholder='0'>
			<h4>Equipment</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.move.eq' value='{{skills.move.eq}}' placeholder='0'>
			<h4>Research</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.move.res' value='{{skills.move.res}}' placeholder='0'>
			<h4>Trinkets</h4>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.skills.move.trk' value='{{skills.move.trk}}' placeholder='0'>
		</div>
	</div>

	<h2>Notes</h2>

	<textarea name='data.overworld.notes'>{{notes}}</textarea>
</form>
