<form autocomplete='off'>
	<h2 class='name'>
		<span>Monster</span>
		<input type='text' data-dtype='String' name='name' value='{{actor.name}}' placeholder='Unnamed' required>
		<input type='hidden' data-dtype='String' name='data.overworld.type' value='monster'>
	</h2>

	<h2>Status</h2>

	<div class='status'>
		<label class='selection'>
			<span>Size</span>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.size' value='{{data.size}}' placeholder='0'>
		</label>

		<label class='selection'>
			<span>Base DC</span>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.dc.total' value='{{dc.total}}' readonly>
		</label>

		<label class='selection'>
			<span>Bonus DC</span>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.dc.bonus' value='{{dc.bonus}}'>
		</label>
	</div>

	<h2>Actions</h2>

	<div class='action-economy'>
		<label class='selection'>
			<input type='checkbox' class='move' data-dtype='Boolean' name='data.overworld.actions.move' {{checked actions.move}}>
			<span>Move</span>
		</label>
		<label class='selection'>
			<input type='checkbox' class='attack' data-dtype='Boolean' name='data.overworld.actions.attack' {{checked actions.attack}}>
			<span>Attack</span>
		</label>

		<span class='spacer'></span>

		<button class='reset'>Reset</button>
	</div>

	<h2>Details</h2>

	<div class='actions'>
		<div class='action selection'>
			<div class='rollable' data-skill='fight'>
				<h3>Attack</h3>
				<h2 class='total'>{{skills.fight.total}}</h2>
			</div>
			<h4>Strength</h4>
			<input type='number' data-dtype='Number' value='{{data.size}}' placeholder='0' readonly>
			<h4>Bonus</h4>
			<input type='number' data-dtype='Number' name='data.overworld.skills.fight.bonus' value='{{skills.fight.bonus}}' placeholder='0'>
		</div>

		<div class='action selection'>
			<div class='activatable' data-action='move'>
				<h3>Move</h3>
				<label>Random Movement</label>
			</div>
		</div>
	</div>

	<h2>Notes</h2>

	<textarea name='data.overworld.notes'>{{notes}}</textarea>
</form>
