<form autocomplete='off'>
	<h2 class='name'>
		<span>Squad</span>
		<input type='text' data-dtype='String' name='name' value='{{actor.name}}' placeholder='Unnamed' required>
		<input type='hidden' data-dtype='String' name='data.overworld.type' value='squad'>
	</h2>

	<h2>Status</h2>

	<div class='status'>
		<label class='selection'>
			<span>Size</span>
			<input type='number' min='0' step='1' max='5' data-dtype='Number' name='data.overworld.size' value='{{data.size}}' placeholder='0'>
		</label>

		<label class='selection'>
			<span>Wounded</span>
			<input type='number' min='0' step='1' max='{{data.size}}' data-dtype='Number' name='data.overworld.wounded' value='{{data.wounded}}' placeholder='0'>
		</label>

		<label class='selection'>
			<span>Base DC</span>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.dc.total' value='{{dc.total}}' placeholder='0' readonly>
		</label>

		<label class='selection'>
			<span>Bonus DC</span>
			<input type='number' min='0' step='1' data-dtype='Number' name='data.overworld.dc.bonus' value='{{dc.bonus}}' placeholder='0'>
		</label>
	</div>

	<h2>Actions</h2>

	<div class='action-economy'>
		<label class='selection'>
			<input type='checkbox' data-dtype='Boolean' name='data.overworld.actions.act1' {{checked actions.act1}} {{#if actions.camp}}readonly disabled{{/if}}>
			<span>Act 1</span>
		</label>
		<label class='selection'>
			<input type='checkbox' data-dtype='Boolean' name='data.overworld.actions.act2' {{checked actions.act2}} {{#if actions.camp}}readonly disabled{{/if}}>
			<span>Act 2</span>
		</label>
		<label class='selection'>
			<input type='checkbox' data-dtype='Boolean' name='data.overworld.actions.act3' {{checked actions.act3}} {{#if actions.camp}}readonly disabled{{/if}}>
			<span>Act 3</span>
		</label>
		<label class='selection'>
			<input type='checkbox' data-dtype='Boolean' class='camp' name='data.overworld.actions.camp' {{checked actions.camp}} {{#unless campReady}}readonly disabled{{/unless}}>
			<span>Camp</span>
		</label>

		<span class='spacer'></span>

		<button class='reset'>Reset</button>
	</div>

	<h2>Details</h2>

	<div class='actions'>
		<div class='action selection'>
			<div class='rollable' data-skill='act'>
				<h3>Action</h3>
				<h2 class='total'>{{skills.act.total}}</h2>
			</div>
			<h4>Strength</h4>
			<input type='number' data-dtype='Number' value='{{data.size}}' placeholder='0' readonly>
			<h4>Equipment</h4>
			<input type='number' data-dtype='Number' name='data.overworld.skills.act.eq' value='{{skills.act.eq}}' placeholder='0'>
			<h4>Research</h4>
			<input type='number' data-dtype='Number' name='data.overworld.skills.act.res' value='{{skills.act.res}}' placeholder='0'>
		</div>
	</div>

	<h2>Notes</h2>

	<textarea name='data.overworld.notes'>{{notes}}</textarea>
</form>
