.app.form.overworld-manager.actor-overview {
	width: min-content;
	height:min-content;

	form {
		display: flex;
		flex-direction: column;
		gap: 0.3em;

		input {
			&[type='checkbox'] {
				width:16px;
				height:16px;
				flex: 0 16px;
				margin: 0;
				padding: 0;
			}
		}

		h2,
		h3 {
			margin: 0;
			padding: 0;
			grid-column: span 4;
		}

		.actor-list {
			list-style: none;
			margin: 0;
			padding: 0;

			display: grid;
			grid-template-columns: min-content 1fr min-content min-content;
			grid-template-rows: min-content;
			gap: 3px;

			align-items: center;

			li {
				display: contents;

				&:nth-child(2n+1) {
					> img, > span {
						background-color: rgba(0,0,0,0.05);
					}
				}

				> span {
					height: 100%;
				}
				
				> img, > span {
					align-items: center;
				}

				&[data-uuid]:hover {
					> img, > span {
						background-color: gold;
						box-shadow: 0 0 5px gold;
					}
				}

				&.header {
					> img, > span {
						background-color: rgba(0, 0, 0, 0.1);
						height: 24px;
						font-weight:bold;
						line-height: 24px;
					}

					.icon {
						border: 1px solid transparent;
					}
				}

				.name, .actions, .controls {
					padding: 0.1em 0.3em;
				}

				.icon {
					background-color: unset;
					width: 24px;
					height: 24px;
				}

				.name {
					white-space: nowrap;
				}

				.actions {
					text-align: center;
					justify-content: center;

					display: flex;
					flex-direction: row;
					gap: 1px;
				}
			}
		}

		> .buttons.actions {
			display: flex;
			flex-direction: column;
			gap: 3px;
		}
	}
}
