.app.overworld-manager {
	&.actor.sheet {
		.window-content {
			border-bottom-left-radius: 0.5em;
			border-bottom-right-radius: 0.5em;
		}

		min-width: 500px;
		width: min-content;
		height: min-content;

		form {
			display: flex;
			gap: 0.5em;
			flex-direction: column;

			.spacer {
				flex: 1;
			}

			label {
				display: flex;
				gap: 0.2em;
				align-items: center;

				&.selection {
					.border();

					span {
						white-space: nowrap;
					}
				}
			}

			button {
				flex: 0;
				padding: 0 1.5em;
				border-radius: 0.5em;
				line-height: 1.5;
			}

			input {
				border-radius: 0.5em;

				&[type="checkbox"] {
					flex: 0 16px;
					width: 16px;
					height: 16px;
					margin: 0;
				}

				&[type="number"] {
					font-weight: bold;
					height: unset;
					line-height: 1.3;
					text-align: center;
				}
			}

			h2,
			h3,
			h4 {
				margin: 0;
				padding: 0;
			}

			h3 {
				font-weight: bold;
			}

			.selection:hover {
				.dimBg();

				input[type='number'],
				input[type='text'] {
					background-color: rgba(220, 210, 190, 0.7);
				}
			}

			>.name {
				display: flex;
				gap: 0.5em;

				input {
					text-shadow: 0 0 3px goldenrod;
					border: unset;
					background-color: unset;
	
					&:focus {
						background-color: rgba(0, 0, 0, 0.05);
					}
				}
			}

			.action-economy {
				display: flex;
				gap: 0.5em;
			}

			.status {
				display: flex;
				gap: 0.5em;
			}

			.actions {
				display: flex;
				gap: 0.5em;
				text-align: center;

				.action {
					display: flex;
					gap: 0.2em;

					.border();
					flex-direction: column;

					border-radius: 0.5em;
					place-items: center;
					justify-content: center;

					padding: 0.2em;

					.rollable {
						display: flex;
						flex-direction: column;
						border: 1px solid #dfb54a;
						width: 100%;
						border-radius: 0.5em;

						.dimBg();

						h2 {
							border: unset;
						}

						&:hover {
							box-shadow: 0 0 15px red;
							background-color: gold;
						}
					}
				}
			}

			textarea {
				height: 6em;
			}
		}
	}
}
